body {
  overflow: visible;
}

.container1 h1 {
  color: burlywood;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container2 #headerLinks {
  margin: 0;
  margin-right: auto;
}


.header {
  display: flex;
  flex: 1;
}

#headersearch {
  width: 256px;
  padding: 6px;
  margin: 10px;
  border-radius: 14px;
  margin-left: 65%;
  height: auto;
}

#login {
  margin: 10px;
  margin-right: 20px;
  padding: 8px 16px;
}

#headerLinks {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

#headerLinks li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#About {
  margin-left: auto;
}

#headerLinks #About a {
  color: burlywood;
}

.container3 {
  display: flex;
  column-gap: 20px;

}

.slideshows {
    flex: 2;
    margin-top: 10px;

}

#slideshow1 {
  border: solid black 2px;
  height: 900px;
  margin-bottom: 15px;
  max-height: 350px;
}

#slideshow2 {
   border: solid black 2px;
  height: 900px;
  margin-bottom: 15px;
  max-height: 350px;
}

#slideshow3 {
   border: solid black 2px;
  height: 900px;
  margin-bottom: 15px;
  max-height: 350px;
}

.sidebar {
  flex: 0.7;
  border: solid black 2px;
  margin-top: 10px;
  align-self: flex-start;
  height: 1200px;
  max-height: 1200px;
  margin-left: auto;
}



@media only screen and (max-width: 875px) {
  
  .container3 {
    flex-direction: column;
    align-items: center;
  }
  

#slideshow2 {
   flex: 1;
   order: 2;
   border: solid black 2px;
  height: 900px;
  width: 85vh;
}


#slideshow1 h3 {
  margin: 16px;
}



  .sidebar {
    display: flex;
    order: -1;
    border-bottom: solid black 2px;
    width: 85vh;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

body.dark{
  background-color: darkslategrey;
  border-color: solid white 4px;
  color: white;
}





